<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
  <!-- Contenedor para el gráfico de ECharts existente -->
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-2xl dark:border-gray-700 dark:bg-gray-800">
    <div #chart class="w-full h-80"></div>
    <figcaption class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
      Estadisticas de estacionamientos por estado
    </figcaption>
  </figure>

  <!-- Contenedor para el gráfico de mensajes -->
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-2xl dark:border-gray-700 dark:bg-gray-800">
    <div #messagesChart class="w-full h-80"></div>
    <figcaption class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
      Estadisticas de mensajes enviados por estado
    </figcaption>
  </figure>

  <!-- Contenedor para el gráfico de tipos de estacionamiento -->
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-2xl dark:border-gray-700 dark:bg-gray-800">
    <div #typeChart class="w-full h-80"></div>
    <figcaption class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
      Distribucion de estacionamientos por tipo de usuario
    </figcaption>
  </figure>

  <!-- Contenedor para el gráfico de usuarios -->
  <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-2xl dark:border-gray-700 dark:bg-gray-800">
    <div #usersChart class="w-full h-80"></div>
    <figcaption class="mt-4 text-lg font-semibold text-gray-900 dark:text-white">
      Estadisticas de usuarios actuales
    </figcaption>
  </figure>
</div>
